@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes headerDrop {
  from {transform:translateY(-15em)}
  to {}
}

@keyframes floatingHeader {
  from {}
  to {transform: translateY(-7px)};
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  padding-top: 1em;
  color: #545149;
  align-items:center;
  height: 400px;
  width: 100%;
  background-color: #F7996E;
  background-image: url('/images/cartographer.png');
  border-bottom: solid black 8px;
}

.imgContainer {
  animation: headerDrop 1s;
}

.main-header img {
animation: floatingHeader 2s ease-in-out infinite alternate;
animation-delay: 1s;
}



.main-header h1 {
  overflow: hidden;
  border-right: .15em solid orange; 
  white-space: nowrap;
  margin: 0 auto;
  animation: 
    typing 1s steps(14, end);
  border: transparent;
}

@media only screen and (min-width: 1024px) {
  .main-header {
    width: 90%;
    border: solid black 8px;
    margin: 2em;
  }
}