#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  top: 0;
  position: fixed;
  color: #FFFFFF;
  height: 120px;
  background-color: #4056A1;
  padding: 0 1.5em;
}

.newTweetContainer {
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
}

i {
  color: #e83f27;
}