@keyframes arrowAnimation {
  from {}
  to {transform: translateY(7px)};
}

@keyframes tweeterLoadIn {
  from {transform: translateX(-10em);}
  to {}
}

#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  top: 0;
  position: fixed;
  color: #FFFFFF;
  height: 120px;
  background-color: #252422;
  padding: 0 2em;
  z-index: 1;
}

.bungee-regular {
  animation: tweeterLoadIn 1s;
}

.newTweetContainer {
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
}

.newTweetContainer :hover {
  transform: scale(105%);
  transition: .5s;
  cursor: pointer;
}

 .fa-angles-down{
  color: #f7996e;
  animation: arrowAnimation 1.5s ease-in-out infinite alternate;
}



