#header {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  height: 120px;
  background-color: #4056A1;
  padding: 1.5em;
}

.newTweetContainer {
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
}

i {
  color: #e83f27;
}