.new-tweet {
  margin: 1em;
  padding: .5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#f3f1ed;
  border: solid black 2px;
  border-radius: 5px;
}

.lower-form-container {
  display: flex;
  justify-content: space-between;
}

.new-tweet-form {
  width: 100%;
}

.new-tweet-form button {
  border: 3px solid black;
  border-radius: 3px;
  background: linear-gradient(to left, #008c8c 50%,  #F7996E 50%) right;
  background-size: 200%;
  padding: 10px;
  color: #fff;
}

.new-tweet-form button:hover {
  transition: 0.3s ease-in-out;
  background-position: left;
  color: black;
}

.new-tweet-form button :not(:hover) {
  transition: 0.3s ease-in-out;
  background-position: right;
  color: white;
}

#tweet-text {
  outline: none;
  resize: none;
  width: 100%;
  border: none;
  padding: .5em;
  border-bottom: solid black;
  background-color:#f3f1ed;
}

#tweet-error {
color: red;
border-radius: 3px;
padding: .5em 1em;
display: none;
}